{% extends "base.html" %}
{% load static %}

{% block content %}
	<div class="hero-unit">
    	<h1>Ready to Rango</h1>
    	<p>Find, Add, Share and Rango useful links and resources.</p>
    </div>
    
	<div class="row-fluid">
    	<div class="span6">
	{% if categories %}
		<ul>
			{% for category in categories %}
					<li><a href="/category/{{ category.url }}">{{ category.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
    <!--/span-->
    <div class="span6">
		<ul>
			{% for page in pages %}
				<li><a href="{{ page.url }}">{{ page.title }}</a></li>
			{% endfor %}
		</ul>
		{% if user.is_authenticated %}
			<a href="/add_category/">Add new category</a>
			<br/>
			<a href="/logout/">Logout</a>
		{% else %}
			<a href="/register/">Register</a>
			<br/>
			<a href="/login/">Login</a>
		{% endif %}
		</div>
    <!--/span-->
	</div>
	{% else %}
		<p> There are no category to display </p>
	{% endif %}
{% endblock content %}